<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FilmApp</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'base_nav.html' %}
    <main>
        <section class="box">
            {% block main %}
                <div>
                    <section class="hero">
                      <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                {% block main_title %} Film App {% endblock main_title %}
                            </h1>
                            <p class="subtitle">
                                {% block subtitle %} Best place to find a good movie {% endblock subtitle %}
                            </p>
                        </div>
                      </div>
                    </section>
                    <hr/>
                    {% block content %}
                    <div class="tile is-ancestor">
                        <div class="tile">
                            <div class="box tile is-parent">
                                <div class="tile is-child notification">
                                    <div class="content">
                                        <p class="title">About the app</p>
                                        <div class="content">
                                            {% lorem 3 p%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tile is-parent">
                                <div class="content">
                                    <p class="title">News</p>
                                    <div class="content">
                                        <ul>
                                            <li>{% lorem 1 %}</li>
                                            <li>{% lorem 1 %}</li>
                                            <li>{% lorem 1 %}</li>
                                            <li>{% lorem 1 %}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock content %}
                </div>
            {% endblock main %}
        </section>
    </main>
    <footer>
        <p>made with &hearts; by <strong>Sebastian Siarczyński</strong></p>
    </footer>
</body>
</html>